*{
    border: 1px solid red;
}

body{
    background-color: grey;
}

.btn{
    background-color: lightgrey;
    color: black;
    border-radius: 6px;
    box-shadow: none;
}
.nav-btn{
    background-color: grey;
    padding: 10px;
}

#nav-list{
    display: flex;
    margin: 5px;
    padding: 5px;
}
.navigation{
    display: block;
}

li{
    background-color: white;
    color: black;
    list-style: none;
}